// Variables
$darkPink: rgb(204, 0, 204);
$darkerPink: #4d004d;
$ghost: ghostwhite;

@mixin resets {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    @include resets;
    color: $ghost;
}

body {
    background-image: radial-gradient(
        circle,
        $darkerPink,
        $darkPink,
        $darkPink,
        #ffe6ff
    );
    background-color: $darkPink !important;
}

.card {
    &-title {
        color: $ghost !important;
    }

    background-color: $darkerPink !important;
}
